DB_HOST=localhost
DB_NAME=jobsdb
DB_USER=postgres
DB_PASSWORD=tu_password_aqui
DB_PORT=5432


INFOJOBS_CLIENT_ID=tu_client_id_aqui
INFOJOBS_CLIENT_SECRET=tu_secret_aqui
INFOJOBS_BASE_URL=https://api.infojobs.net/api/9


JOOBLE_API_KEY=tu_api_key_aqui
JOOBLE_BASE_URL=https://jooble.org/api


ADZUNA_APP_ID=tu_app_id_aqui
ADZUNA_APP_KEY=tu_app_key_aqui
ADZUNA_BASE_URL=https://api.adzuna.com/v1/api

DEBUG=True
LOG_LEVEL=INFO
ENVIRONMENT=development

# OpenAI (OBLIGATORIO)
OPENAI_API_KEY=sk-proj-TU_API_KEY_AQUI
